// Font Import

@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans/GillSans-Light.woff2') format('woff2'),
    url('../fonts/GillSans/GillSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans/GillSans-Regular.woff2') format('woff2'),
    url('../fonts/GillSans/GillSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


