// Font Import — GillSans Pro Cyrillic

@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans/GillSansProCyrillic-Light.woff2') format('woff2'),
    url('../fonts/GillSans/GillSansProCyrillic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans/GillSansProCyrillic-Medium.woff2') format('woff2'),
    url('../fonts/GillSans/GillSansProCyrillic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


// Bootstrap Configuration
@import "../../../../../codeweber/node_modules/bootstrap/scss/mixins";

// Font Variables
$font-family-base:      "GillSans", sans-serif;
$font-family-secondary: "GillSans", sans-serif;